html {
    font-family: 'sans-serif';
    background-color: white;
    font-size: 100%;
}

body {
    line-height: 1.5;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 2em;
}

h1 {
    color: rgba(33, 33, 197, 0.648);
    text-align: center;
}

.heading {
    background-color: rgb(115, 115, 234);
    width: 100%;
    padding: 70px 0;
    color: greenyellow;
}

h2 {
    color: blue;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(115, 115, 234);
    color: black;
}

footer > h2 {
    color: greenyellow;
}

li {
    display: inline;
}

.emphasis {
    font-size: 20px;
    font-weight: bold;
    font-family: 'sans-serif'
}



p {
    
}