html {
    font-family: 'sans-serif';
    background-color: rgb(162, 129, 141);
    font-size: 100%;
}

body {
    line-height: 1.5;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 2em;
}

h1 {
    color: rgba(50, 40, 56, 0.648);
    text-align: center;
}

.heading {
    width: 100%;
    padding: 70px 0;
    color: white;
}

.header-image img{
    width:100%;
    height:auto;
    margin: 0;
}

h2 {
    color: white;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgba(50, 40, 56, 0.648);
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
}

footer > h2 {
    color: white;
}

li {
    display: block;
    float: none
}

.emphasis {
    font-size: 20px;
    font-weight: bold;
    font-family: 'sans-serif'
}

a:link {
    color: white
}

a:visited {
    color: lightgray
}

.select {
    border-radius: 10%;
}

.button {
    border-radius: 10%;
}

#recordings {
    font-family: 'sans-serif';
    color: white;
}

#recordingsList {
    font-family: 'sans-serif';
    color: white;
}
