<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>TOHack2022 project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/styling.css">
</head>
<body>
    <h1 class="heading">Text to Emoji Conversion</h1>
	<div style="max-width: 90em;"> <!--originally 28em max-width-->
		<p class="emphasis">Convert recorded audio to:</p>
		<select id="encodingTypeSelect">
		  <!-- <option value="wav">Waveform Audio (.wav)</option> -->
		  <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
		  <!-- <option value="ogg">Ogg Vorbis (.ogg)</option> -->
		</select>
		<div id="controls">
			<button id="recordButton">Record</button>
			<button id="stopButton" disabled>Stop</button>
		</div>
		<div id="formats"></div>
		
		<pre></pre>
		<pre id="log"></pre>



		<div class="emphasis" id="recordings"><pre>Recordings</pre></div>
		<ol id="recordingsList"></ol>
	</div>

	<div class="form">
		<form onsubmit="return false">
			<label>Audio upload</label>
			<input type="file" accept="audio/mp3" class="audio">
			<button type="submit">Upload file</button>
		</form>
	</div>

	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
	<script src="/js/WebAudioRecorder.min.js"></script>
	<script src="/js/app.js"></script>

	<h2>Record Audio</h2>
	<button id="record" type="button" onclick="recordAudio()">Record your audio</button>
	<button id="end_record" type="button" onclick="endRecordAudio()">Record your audio</button>
	
	<script src="/scripts/index.js"></script>
 <button id="action" onclick="handleAction()">Start recording...</button>

	<h2>Upload Audio</h2>
	<button type="button" onclick="uploadAudio()">Upload your audio</button>
	<h2>Convert button</h2>

</body>
<footer> 
	<h2>help and contact pages</h2>
	<ul>
		<li id="test">Placeholder</li>
		<li>Placeholder</li> <!--I will have to make this part inline rather than block-->
		<li>Placeholder</li>
		<li>Placeholder</li>
	</ul>
	</footer>
</html>